/* Родительский контейнер, чтобы терминал занимал всю высоту */
.terminal-wrapper {
  display: flex;
  height: 100vh; /* Растягиваем на всю высоту окна */
}

/* Элемент с терминалом, который будет занимать 45% ширины */
#terminal {
  height: 100%; /* Растягивает терминал по вертикали */
  width: 45%; /* Занимает 45% ширины экрана */
  background-color: black;
  color: white;
  font-family: monospace;
  overflow-y: auto; /* Прокрутка по вертикали */
}

/* Стили для истории команд */
#command-history {
  background-color: #1e1e1e;
  color: #c5c5c5;
  padding: 10px;
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #444;
  border-radius: 5px;
  font-family: monospace;
  margin-left: 55%;
  margin-top: -48.5%;
  position: relative; /* Добавляем для контекста абсолютного позиционирования */
}

.com-history-txt {
  margin-left: 55%;
  position: absolute;  /* Делаем позицию абсолютной */
  top: 0.5%;
}

/* Общий стиль для обертки блок-схемы (контейнер с закругленными углами) */
.flowchart-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid #555555; /* Темная граница */
  border-radius: 20px; /* Закругленные углы */
  background-color: #333333; /* Темный фон контейнера */
  width: 880px; /* Фиксированная ширина */
  height: 400px; /* Фиксированная высота */
  overflow: hidden; /* Чтобы не показывать лишние части */
  margin-left: 55%; /* Помещаем в центр */
}

/* Общие стили для контейнера блок-схемы */
.flowchart-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  overflow-y: auto; /* Полоса прокрутки по вертикали */
  height: 100%;
  width: 100%;
}

/* Стили для обводки блока */
.flowchart-link-wrapper {
  position: relative;
  margin: 12px 0; /* Отступ между блоками 12px */
}

/* Стили для блоков */
.flowchart-block {
  background-color: #333333; /* Темно-серый фон */
  color: #ffffff; /* Белый текст */
  border-radius: 10px;
  padding: 20px;
  width: 250px;
  text-align: center;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

/* Стили для обводки между блоками */
.flowchart-link-wrapper::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border: 2px solid white; /* Белая обводка */
  border-radius: 15px;
  z-index: -1; /* Помещаем обводку позади блоков */
}

/* Стрелки */
.flowchart-arrow {
  width: 0;
  height: 0;
  border-left: 8px solid transparent; /* Немного уменьшена ширина */
  border-right: 8px solid transparent; /* Немного уменьшена ширина */
  border-top: 15px solid #e2e2e2; /* Уменьшена высота стрелки */
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: 10px; /* Уменьшен отступ сверху */
}
