.terminal-container {
  display: flex;
  justify-content: flex-start; /* Сдвигает терминал влево */
  align-items: flex-start; /* Выравнивание по верхнему краю */
  margin: 10px; /* Добавление отступов, если необходимо */
}

/* Стили для терминала */
#terminal {
  height: 600px;
  width: 60%;
  background-color: black;
  color: white;
  font-family: monospace;
}

/* Стили для истории команд */
#command-history {
  background-color: #1e1e1e;
  color: #c5c5c5;
  padding: 10px;
  height: 200px;
  overflow-y: scroll;
  border: 1px solid #444;
  border-radius: 5px;
  font-family: monospace;
}